.btn-self {
  color: #FFFFFF;
  background-color: #4F4F4F;
  border-color: #4F4F4F;
}

.history {
  margin-top: 0px;
}
.announcement-title {
  margin: 0;
  border-bottom: 1px;
  border-bottom-color: rgba(199, 199, 199, 0.2);
  border-bottom-style: solid;
  padding: 12px 15px;
  background-color: rgba(199, 199, 199, 0.1);
}
.announcement-content {
  margin: 0;
  border-bottom: 1px;
  border-bottom-color: rgba(199, 199, 199, 0.2);
  border-bottom-style: solid;
  padding: 12px 15px;
  background-color: rgba(199, 199, 199, 0.1);
  max-height: 10000px;
  display: flex;
}

.historyTitle {
  background-color: rgb(79, 79, 79);
  padding: 10px 15px;
  color: #ffffff;
  margin: 0;
}

.search-announcement-name {
  float: left;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
  color: #333131;
}

.search-announcement-time {
  float: right;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  padding: 2px 0px;
  color: #333131;
}

.search-announcement-message {
  float: left;
  width: 100%;
  font-size: 14px;
  min-height: 10px;
  line-height: 23px;
  color: #1b1a1a;
}
